.button {
  /*border-style: solid;*/
}

GtkWindow {
/*background-image: linear-gradient(to bottom, shade(#17296B, 0.9), #17296B 75%, shade(#17296B, 1.1));*/
background-color:#17296B;
}
GtkLabel {
  font: Lato 12;

} 

.StatusLabel, .LoadLabel {
  border-bottom: 1px solid White;
  color: #EAB931;
}

.StatusData, .LoadStatus {
  color: White;
}
/*
GtkCheckButton:active {
  transition: 250ms ease-in-out;
}
*/

.ButtonBar {
  background-color:#E2AD1A;
}

.ButtonLabel,.ButtonSeparator {
  color:#17296B;
}

.DataGrid {
  border-bottom: 1px solid White;
}

@define-color color #E2AD1A;

.level-bar.fill-block {
    border-color: shade(@color, 0.85);
    background-image: linear-gradient(to bottom, shade(@color, 1.2), @color 75%, shade(@color, 0.95));
}

.level-bar.fill-block.empty-fill-block {
    border-color: alpha(#000000, 0.1);
    background-color: transparent;
    background-image: none;
}


